.container {
	@include flex($gap: 24px);

	@include media($mobile-bp) {
		flex-direction: column;
	}
}

.card {
	padding: 80px 57px;
	border-radius: 60px;

	@include media($mobile-bp) {
		padding: 48px 24px;
		border-radius: 30px;
	}
}

.title {
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 20px;
	text-transform: uppercase;

	@include media($mobile-bp) {
		font-size: 18px;
	}

	img {
		width: 64px;
		height: 33px;
		margin-left: 5px;

		@include media($mobile-bp) {
			width: 36px;
			height: 18px;
			margin-left: 3px;
		}
	}
}

.fundInfo {
	max-width: 830px;
	width: 100%;
	background-color: var(--gray);

	.title {
		color: var(--primary);
	}
}

.support {
	box-shadow: 0 2px 6px 0 #999;
	background: rgb(255, 216, 0);
	background: linear-gradient(157deg, rgba(255, 216, 0, 1) 0%, rgba(245, 162, 0, 1) 100%);

	p {
		line-height: 1.5;
	}

	span {
		white-space: nowrap;
	}
}
